/* AdminStyles.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #222; /* Dark background color */
  color: #fff; /* Light text color */
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid #333; /* Darker border color */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Darker box shadow */
  margin: 0 auto 20px;
}

h2, h3 {
  color: #fff; /* Light text color */
  text-align: center;
}

h3 {
  color: #999; /* Slightly lighter secondary text color */
}

form {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #444; /* Darker border color */
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #333; /* Darker background color */
  color: #fff; /* Light text color */
}

.blue-button, .red-button {
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
  color: #fff;
}

.blue-button {
  background-color: #004080; /* Darker blue color */
}

.blue-button:hover {
  background-color: #003366; /* Even darker blue color on hover */
}

.red-button {
  background-color: #990000; /* Darker red color */
}

.red-button:hover {
  background-color: #800000; /* Even darker red color on hover */
}

table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #555; /* Darker border color */
  padding: 8px;
  text-align: center;
}

tr:hover {
  background-color: #444; /* Darker background color on hover */
}
